.btn { 
    margin-bottom: 0; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: middle; 
    -ms-touch-action: manipulation; 
    touch-action: manipulation; 
    cursor: pointer; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    text-transform: capitalize;
    border:none; font-weight:500;  
    -webkit-border-radius: 3px;	
    -moz-border-radius: 3px;  
    border-radius: 3px; 
    position: relative; 
    color:#fff;
    &:hover, &:focus{
        outline:none
    }   
    &-primary, &-blue{
        background-color:#21409a;
        &:hover{
            background-color: #4363c0; 
            color: #FFF;
        }
        &:focus, &:active{
            background-color: #326db9;
        }
    }
    &-success{
        background-color:#02AE79;
        &:hover{
            background: #4FC29E;
        }
        &:focus, &:active{
            background-color: #069267;
        }
    }
    &-default{
        background-color:transparent; 
        box-shadow: inset 0 0 0 2px #7799be; 
        color: #4d6f93;
        &:hover, &:active{
            color:#fff; 
            background:#4093fb; 
            box-shadow: inset 0 0 0 2px #4093fb;
        }
        &.w-txt{
            color:#fff; 
            border-color:#fff; 
            box-shadow: inset 0 0 0 2px #fff;
            &:hover, &:active, &:focus{
                background:#fff; 
                color:#203152
            }
        }
    }
    &-lg{
        padding:20px;
        font-size: 20px;
        line-height:20px;
    }
    &-md{
        padding: 16px;
        font-size: 18px;
        line-height: 18px;
    }
    &-sm{
        padding: 14px;
        font-size: 16px;
        line-height: 16px; 
    }
    &-xs{
        padding:10px;
        font-size: 12px;
        line-height:12px;
        min-width:80px;
    }
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { cursor: not-allowed; filter: alpha(opacity=65);  opacity: .65;pointer-events: none; } 
.btn100 { width:100%;}
.btn label{ cursor: pointer}
.titleBtn{float: right;}
.btn+.btn{margin-left:10px;}
.btn+span+.btn{margin-left:10px;}
button:focus{
    outline:none
}
.btnSec{
    clear: both;
    text-align: right;
    border-top: 1px solid #e6e6e6;
    padding: 20px 0px 10px;
    display: flex;
    justify-content: flex-end;
  }
  .btnEvent{
    background: transparent;
    box-shadow: none;
    text-align: center;
    line-height: 1;
    transition: width 1s;
    cursor: pointer;
    opacity: 0.6;
    border: none;
    &:hover{
    opacity: 1;
  }

  &.closeme{
    margin-top: 4px;
  }
 &.addme{
    position: absolute;
    left: 30px;
    bottom: 26px;
  }
}