.clearfix::after {
    content: ' ';
    display: block;
    clear: both;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .d-ib { display: inline-block; }
  .d-b { display: block; }
  .d-tc { display: table-cell; }
  
  .p-relative { position: relative; }
  .p-absolute { position: absolute; }
  .p-fixed { position: fixed; }

  .ba {
    border: solid 1px #eaeaea;
  }
  .bb {
    border-bottom: solid 1px #eaeaea;
  }
  .bt {
    border-top: solid 1px #eaeaea;
  }
  .bl {
    border-left: solid 1px #eaeaea;
  }
  .br {
    border-right: solid 1px #eaeaea;
  }
  
  .bb-dashed {
    border-bottom: dashed 1px #eaeaea;
  }
  
  .bb-0 {
    border-bottom: 0 !important;
  }
  .bt-0 {
    border-top: 0 !important;
  }
  .bl-0 {
    border-left: 0 !important;
  }
  .br-0 {
    border-right: 0 !important;
  }
  .overflow-x-scroll {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .hide-scrollbar {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar { 
    display: none; 
  } 
  
  .overflow-x-noscroll {
    overflow-x: hidden;
  }
  .overflow-y-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .overflow-y-noscroll {
    overflow-y: hidden;
  }
  .ws-nowrap {
    white-space: nowrap;
  }
  
  .vertical-top {
    vertical-align: top;
  }
  .font-11{
      font-size: 11px;
  }
  .font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-22{
    font-size: 22px;
}
.font-26{
    font-size: 26px;
}

