
.t-color1{color:#203152;}
.t-color2{color:#4D6F93;}
.t-color3{color:#7799BE;}
.t-color4 {color: #599347;}


.secondary-cg{color:#02AE79;}
.secondary-cr{color:#F4675F;}
.secondary-cb{color:#4092FB;}
.secondary-cgr{color:#4D6F93;}
.secondary-cwr{color:#cda11e;}

.bg-white { background-color: #fff; }
.bg-light-blue { background-color: #CAD6E3 !important; }
.bg-c-gr { background-color: #F7F8FC; }
