table{
    margin-bottom: 10px; width: 100%;
    th, td{
    font-size: 12px;
    font-weight: 300;
    padding: 8px 0;
  }
  th{
    text-align: left; 
    font-weight: 500;
  }

}
.dataTable1{
    border: 0;
    th, td{
        border:0;
    }
    
}
.dataTable2{
    border: 0;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    background: red;
    th, td{
        border:0;
    }
    
}
.dataTable3{
    border: 0;
    border-bottom:1px solid #f2f2f2;
    th, td{
        border: 0;
        border-top:1px solid #f2f2f2;
    }
    
}
.dataTable4{
    border: 0;
    border-bottom:1px solid #f2f2f2;
    border-left:1px solid #f2f2f2;
    th, td{
        border-top:1px solid #f2f2f2;
        border-right:1px solid #f2f2f2;
    }
    
}
.dataTable5{
    border: 0;
    th, td{
        border: 0;
        border-top:1px solid #f2f2f2;
    }
    
}
table tr.toptr{
    border-top: 1px solid #f2f2f2;
}