body {
margin: 0;
padding: 0;
font-family:"Roboto",sans-serif;
font-size: 14px;
}
h1, h2, h3, .h1, .h2, .h3 {color: #203152; margin: 0;} 
h4, h5, h6, .h4, .h5, .h6 {color: #4D6F93; margin: 0;} 
h1, .h1{ font-size: 42px; font-weight:500; line-height: 50px; }
h2, .h2 { font-size: 36px; font-weight:500; line-height: 44px;}
h3, .h3{ font-size: 24px; font-weight:500; line-height: 32px; }
h4, .h4 { font-size: 20px; font-weight:400; line-height: 28px;}
h5, .h5 { font-size: 18px; font-weight:400; line-height: 26px;}
h6, .h6 { font-size: 16px; font-weight:400; line-height: 24px;}
p { font-size: 14px; line-height: 22px; margin: 0 0 15px; font-weight: 400; color:#4D6F93}
.primary-Color{color: #203152 !important;}
small, .small{font-size: 12px; line-height: 20px; font-weight: 400; color:#4D6F93}
a{color: #36c;}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.SubTitle{
font-size: 16px;
color: #203152;
display: inline-block;
}
.MainContainer {
  margin:0 auto;
  padding: 10px 3%;

}
.MainContainer.pageTtl{
  background: #f8f8f8;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeebeb;

}
.MainContainer.pageTtl h3{
  font-size: 20px;
  margin: 0;
}
.cont-Box{
  min-height: 340px;
  padding-top:20px;
  padding-bottom: 20px; 
}
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 44px;
}

.App-header {
  color: #333;
  border-bottom:1px solid #ccc;
}

.App-intro {
  font-size: large;
}
ul{ 
  padding: 0;
  margin: 0;
  clear: both;
}
ul li{
  list-style: none;
  display: inline-block;
}
ul li a{
  text-decoration: underline;
}
.Navigation ul{
  padding: 0;
  clear: both;
  margin: 5px 0 0;
  display: inline-block;
}
.Navigation ul li{ 
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
}
.userLogin{
  float: right;
}

.Navigation ul li a, .Footer ul li a{
  padding: 0px 15px;
  color: #36c;
  position: relative;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font-size: 14px;
}
.Navigation ul li:first-child a, .Footer ul li:first-child a{
  padding-left: 0;
}
.Navigation ul li:last-child a, .Footer ul li:last-child a{
  border-right:none;
}

ul.subMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 28px;
  left: 0px;
  width: 150px;
  background-color: white;
  font-weight:bold;
  position: absolute;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition:height .3s ease;
  -webkit-transition: height .3s ease;
}
ul.subMenu li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  padding: 8px 16px !important;
  display: block;
}
ul.subMenu li {
     
     border-bottom: 1px solid #e5e5e5;
     display: block;
}
ul.subMenu li:last-child {
     border-bottom: none;
}
ul.subMenu li:hover {
     background-color: #f2f2f2;
     color: white;
}
.sub-navbar-brand .selectme{
  margin-left: 4px;
}
.Footer{
  border-top: 1px solid #ccc;
}
.Footer ul {
  margin-bottom: 10px;
}
.Footer ul li a{
font-size: 12px; 
font-weight: 600;
}
.Footer ul.footerSub li a{
font-size: 12px; 
font-weight: 400;
}
.Footer p{
font-size: 10px;
font-weight: 600;
}
.form-group input, .dataTbl input{
background-color: #fff;
border: 1px solid #CAD6E3;
border-radius: 3px;
font-size: 12px;
font-weight: 400;
margin-bottom: 20px;
padding: 0px 12px;
box-shadow: none;
color: #203152;
height: 30px; 
display:block;
line-height: 36px;
width: 100%;
width: -moz-available; 
width: -webkit-fill-available; 
width: fill-available;
}
.form-group label{
display: inline-block;
margin-bottom: 6px;
line-height: 30px;
}

[class*="col-"] {
position: relative;
min-height: 1px;
}
.row::after {
content: "";
clear: both;
display: table;
}
::-webkit-input-placeholder { /* Edge */
  color: #7799BE;
  opacity: .5;
}
:-ms-input-placeholder { /* Internet Explorer */
  color: #7799BE;
  opacity: .5;
}
::placeholder {
  color: #7799BE;
  opacity: .5;
}
/*********** customCheckbox starts here **********  */
[type="checkbox"].customCheckbox:not(:checked), [type="checkbox"].customCheckbox:checked {position: absolute;left: -9999px}
[type="checkbox"].customCheckbox:not(:checked) + label, [type="checkbox"].customCheckbox:checked + label {position: relative;padding: 0 15px 0 22px;cursor: pointer; line-height:16px !important; font-weight:normal}
[type="checkbox"].customCheckbox:not(:checked) + label:before, [type="checkbox"].customCheckbox:checked + label:before {content: '';position: absolute;left:0; top: 0;width: 16px; height: 16px;background: #fff;border: 1px solid #b9b7b5;}
[type="checkbox"].customCheckbox:not(:checked) + label:after, [type="checkbox"].customCheckbox:checked + label:after { position: absolute;top:0; left: 0;  transition: all 0.1s ease 0.1s; -moz-transition: all 0.1s ease 0.1s; -webkit-transition: all 0.1s ease 0.1s; width: 16px; height: 16px; color:#2f3e9f; text-align:center; line-height:16px; font-size: 10px}
[type="checkbox"].customCheckbox:not(:checked) + label:after {opacity: 0;transform: scale(0)}
[type="checkbox"].customCheckbox:disabled:not(:checked) + label:before, [type="checkbox"].customCheckbox:disabled:checked + label:before {box-shadow: none;border-color: #bbb;background-color: #ddd}
[type="checkbox"].customCheckbox:disabled:checked + label:after {color: #999}
[type="checkbox"].customCheckbox:disabled + label {color: #aaa}
[type="checkbox"].customCheckbox:checked + label .selectedFilter{background:  #fbf9b6; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index:-1;max-width: 100%}
[type="checkbox"].customCheckbox:checked + label{color:#000000}
[type="checkbox"].customCheckbox:checked + label span{color:#000000}

/** Custom select box**/
.custom-select-v3{position:relative;margin-bottom: 20px;}
.custom-select-v3 select:-moz-focusring{ color: transparent;    text-shadow: 0 0 0 #7d7d7d}
.custom-select-v3 select{font-size:12px;border-radius: 3px;display:inline-block;cursor: pointer;height:32px;padding: 8px 12px;;width: 100%;   color:#7d7d7d; border:1px solid #CAD6E3; position: relative; background: transparent;  /* IE6-8 */-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;   appearance:none}
.custom-select-v3 select[disabled], .customDateBox input[disabled], input[disabled]{background: #eee;cursor: not-allowed !important;}
.custom-select-v3 .selectme{
position: absolute;
right: 10px;
top: 6px;
width: 15px;
}
.custom-select-v3 > div{width:100%}

.loginForm {
  width: 360px; 
  margin: 10% auto auto;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 40px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 0px 4px #b4b0b0;
}
.loginForm .btn{width:100%;}
.loginForm h4{
  margin-bottom: 20px;
}
.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
}
.loginForm .App-logo{ 
  position: absolute;
  top: -23px;
  left: 30px;

}
input[aria-expanded="true"] + div{
  width:200px;
  margin-top: -26px;
}
input[aria-expanded="true"] + div .list{    
  padding: 10px;
  width: auto;
}



.configtable{
  width:100%;
  border-spacing: 0;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  border-bottom: none;
  border-right: none;
}
.configtable tr th{
  background: #f2f2f2;
}
.configtable tr th, .configtable tr td{
  text-align: left;
   border-bottom:1px solid #ccc;
   border-right:1px solid #ccc;
   padding: 8px;
  }

.configtable tr td{
  font-size: 14px; 
  color: #7f7f7f;
}
.closeX{
  position: absolute; 
  right:-42px;z-index: 1;
}
.tripInfo span.userType{
  font-weight: 500;
  display: block;
  color: #333;
  font-size: 13px;
  margin-top: 10px;
}
.bookingdate{
  color: #4D6F93;
  margin: 6px 0;
  display: block;
}
.tripInfo{
  border-bottom: 1px solid #e9ebed;
  padding: 0px 0 15px; 
  /*background: #f0f0f0;*/
}
.triplink{
  background: #f2f2f2;
  border: 1px solid #e9ebed;
  border-bottom: none;
}
.triplink li a{
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-right: 2px;
}
.triplink li a:hover{
background: #fff;
}
.triplink li a.active{
  color: #333;
  background: #fff;
  
}
.triplink li a.active:after, .triplink li a:hover::after{
content:'';
height:2px; 
width:100%;
position: absolute;
bottom: -1px;
left: 0;
display: block;
background: #fff;

}
.tripDetails{
  background: #fff; 
  border:1px solid #f0f0f0;
  padding: 10px
}
.Newcust {
  padding: 2px 4px;
  font-size: 12px;
  color: #203152;
  background-color: #fc3;
}
.selectedComp{
  display: inline-block;
    padding: 8px 8px 8px 0;
    border-radius: 6px;
    margin-bottom: 20px;
}
.selectedComp span{
  font-weight: 500; 
  font-size: 16px; 
  margin-right: 20px;
}
.setCompany{
  font-size: 16px;
  font-weight: 500;
  color: #203152;
}
.dataTbl tr td span{
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 500px;
  overflow: hidden;
  display: block;
}
.dataTbl input[type="text"], .dataTbl input{
  width: 94% !important;
  height: 30px;
  display: block;
  padding: 5px;
  margin: 0;
}
.dataTbl .custom-select-v3{margin: 0;width: 94% !important;}
.dataTbl select{
  margin: 0;
  border: 1px solid #CAD6E3;
  border-radius: 4px;
  padding: 4px;
  height: 30px;
}
.dataTbl th{
  font-weight: 500;
  text-align: left;
}
.pax-tbl th, .pax-tbl td{
font-size: 12px;
vertical-align: top;
}
.tripDetails h3{
  font-size: 14px;
  margin-bottom: 4px;
  background: #eeecec;
  padding: 4px 10px;
  line-height: 22px;
  border-bottom: 1px solid #ccc;
}
.airline{
  padding: 4px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 6px 0;
  font-size: 12px;
  font-weight: 500;
}
.airline span{display: inline-block}
.required{
  color: red;
  display: inline-block;
  margin-left: 2px;
}

.ldrPart{
  display: inline-block;
  position: relative;
  top: 5px;
  left: 4px;
}
.ldrPart img{
  height: 20px;
  width: 20px;
}
.intabTTl{
  font-size: 16px; 
  color: #203152;
  font-weight: 500;
}
.intabTTl-sub{
  font-size: 14px;
  font-weight: 500;
}
.linkRight{
  float: right;
  font-size: 12px;
}
.destination{
  background: #f6f6f6;
  margin: 2px 0 0;
  padding: 6px;
  font-size: 12px;
  font-weight: 600;

}

.paxName{
  font-size: 12px; 
  font-weight: 600;
  margin: 3px 0;
  background: #f6f6f6;
  padding: 6px;
}
.tripSmry{
margin-top:15px;
}
.tripSmry a{display: block;
margin: 4px 0;
}
.rightbar{
  background: #f6f6f6;
}
.denied h3{
  font-size: 18px;
  margin:6px 0;
}
.DayPickerInput {
  width: 100%;
}
.DayPicker-wrapper{
  z-index: 4;
}
textarea#addNoteID {
  width:100%;
  height:150px;
  border: 1px solid #CAD6E3;
}
 


