.notification,.alert{
    padding: 10px;
    color: #203152;
    border-radius: 3px;
    line-height: normal; 
    position: relative; 
    margin-bottom:20px;
    font-size: 12px;
    a{
        cursor: pointer;
    }    
    &-info{
        background-color: #CCE1FD; border: 1px solid #4092FB; color: rgb(54, 90, 161);
        path{
            fill: rgb(54, 90, 161);
        }
    }
    &-warning{
        background-color: #fff7e0; border: 1px solid #ffe8a1; color: #cda11e;
        path{
            fill: #cda11e;
        }
    }
    &-success{
        background-color: #dcf8e9; border: 1px solid #94eaba; color: #059d4c;
        path{
            fill: #059d4c;
        }
    }
    &-error, &-danger{background-color:#ffe5e5; border: 1px solid #ffd1d1; color: #cd3737; 
        path{
            fill: #cd3737;
        }
    }
span{
    display: inline-block;
}
svg {
    position: relative;
    top: -2px;
    margin-right: 4px;
    
}

}
