/**
Use Sass loops to generate these classes
**/

.mt-0 {
  margin-top: 0;
}

.mt-2 {
  margin-top: 2px;
}

.mt-3 {
  margin-top: 2px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-13 {
  margin-top: 13px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt--2 {
  margin-top: -2px;
}

.mt--3 {
  margin-top: -3px;
}

.mt--5 {
  margin-top: -5px;
}

.mt--10 {
  margin-top: -10px;
}

.mt--15 {
  margin-top: -15px;
}

.mt--20 {
  margin-top: -20px;
}

.mt--25 {
  margin-top: -25px;
}

.mt--30 {
  margin-top: -30px;
}

.mt--35 {
  margin-top: -35px;
}

.mt--40 {
  margin-top: -40px;
}

.mt--50 {
  margin-top: -50px;
}

.mt--60 {
  margin-top: -60px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb--0 {
  margin-bottom: -0;
}

.mb--2 {
  margin-bottom: -2px;
}

.mb--3 {
  margin-bottom: -3px;
}

.mb--5 {
  margin-bottom: -5px;
}

.mb--10 {
  margin-bottom: -10px;
}

.mb--15 {
  margin-bottom: -15px;
}

.mb--20 {
  margin-bottom: -20px;
}

.mb--25 {
  margin-bottom: -25px;
}

.mb--30 {
  margin-bottom: -30px;
}

.mb--35 {
  margin-bottom: -35px;
}

.mb--40 {
  margin-bottom: -40px;
}

.mb--50 {
  margin-bottom: -50px;
}

.ml-0 {
  margin-left: 0;
}

.ml-2 {
  margin-left: 2px;
}

.ml-3 {
  margin-left: 3px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-7 {
  margin-left: 7px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml--5 {
  margin-left: -5px;
}

.ml--10 {
  margin-left: -10px;
}

.ml--15 {
  margin-left: -15px;
}

.ml--20 {
  margin-left: -20px;
}

.ml--25 {
  margin-left: -25px;
}

.ml--30 {
  margin-left: -30px;
}

.ml--35 {
  margin-left: -35px;
}

.ml--40 {
  margin-left: -40px;
}

.ml--50 {
  margin-left: -50px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-3 {
  margin-right: 3px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-7 {
  margin-right: 7px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.pt-0 {
  padding-top: 0;
}

.pt-2 {
  padding-bottom: 2px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-150 {
  padding-top: 150px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-5 {
  padding-left: 5px;
}

.pl-8 {
  padding-left: 8px !important;
}

.pl-10 {
  padding-left: 10px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-5 {
  padding-right: 5px;
}

.pr-8 {
  padding-right: 8px !important;
}

.pr-10 {
  padding-right: 10px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

// Basic x-axis used for vertical
// spacing and padding from edges
.pl-16 {
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}
